# /vendor/
/vendor/asm89
/vendor/brick
/vendor/doctrine
/vendor/dragonmantank
/vendor/dflydev
/vendor/easywechat-composer
/vendor/egulias
/vendor/encore
/vendor/facade
/vendor/fakerphp
/vendor/filp
/vendor/fruitcake
/vendor/laravel
/vendor/mockery
/vendor/guzzlehttp
/vendor/hamcrest
/vendor/league
/vendor/mobiledetect
/vendor/monolog
/vendor/myclabs
/vendor/nesbot
/vendor/nette
/vendor/nikic
/vendor/graham-campbell
/vendor/jaybizzle
/vendor/jenssegers
/vendor/nunomaduro
/vendor/opis
/vendor/overtrue
/vendor/phar-io
/vendor/phpoption
/vendor/phpunit
/vendor/pimple
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sebastian
/vendor/ralouphie
/vendor/socialiteproviders
/vendor/swiftmailer
/vendor/symfony
/vendor/tencentcloud
/vendor/theseer
/vendor/tijsverkoyen
/vendor/vlucas
/vendor/voku
/vendor/webmozart
/vendor/w7corp

node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
composer.lock
.idea/